In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (2.10.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (14.0.6)
Requirement already satisfied: keras<2.11,>=2.10.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: setuptools in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (61.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (3.6.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (0.27.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (1.42.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: numpy>=1.20 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (1.21.5)
Requirement already satisfied: packaging in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (21.3)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (1.3.0)
Requirement already satisfied: tensorboard<2.11,>=2.10 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (2.10.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (4.1.1)
Requirement already satisfied: tensorflow-estimator<2.11,>=2.10.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (22.10.26)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (3.19.1)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (2.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow) (1.33.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow) (3.3.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow) (1.8.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow) (0.6.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow) (2.27.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow) (2.0.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (3.3)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from packaging->tensorflow) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import tensorflow as tf

In [5]:
import keras

In [6]:
import os

In [7]:
os.chdir("C:\\Users\\KIRTI RAJ PRADHAN\\Downloads")

In [8]:
df=pd.read_csv("Churn_Modelling.csv")  # churn means leave

In [9]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [11]:
df["Exited"].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [12]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [13]:
df.drop(columns=["RowNumber","CustomerId","Surname"],inplace=True)

In [14]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [15]:
df["Geography"].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [16]:
df["Gender"].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [17]:
X=pd.get_dummies(df.drop("Exited",axis=1),drop_first=True)
y=df['Exited']

In [18]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [20]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((8000, 11), (2000, 11), (8000,), (2000,))

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

**Modelling**

In [22]:
from keras.models import Sequential
ann=Sequential()

**Adding the input layer and the first hidden layer**

In [23]:
from keras.layers import Dense
ann.add(Dense(input_dim=11,units=6,kernel_initializer='uniform',activation='relu'))

## from keras.layers import Dropout
## ann.add(Dropout(rate=0.1))

**Adding Second hidden layer**

In [24]:
ann.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))

##ann.add(Dropout(rate=0.1))

**Adding the output layer**

In [25]:
ann.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))

**Compiling the ANN**

In [26]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

**Training the ANN on the Training set**

In [27]:
ann.fit(X_train,y_train,epochs=100,batch_size=32)

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 0.5781 - accuracy: 0.7958
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4390 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4320 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4290 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4267 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4246 - accuracy: 0.7960
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4222 - accuracy: 0.7960
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4196 - accuracy: 0.8049
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4179 - accuracy: 0.8201
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4164 - accuracy: 0.8230
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4155 - accuracy: 0.8281
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4144 - accuracy: 0.8286
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4135 - accuracy: 0.8299
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4127 - accuracy: 0.8298
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4119 - accuracy: 0.8306
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4116 - accuracy: 0.8317
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4109 - accuracy: 0.8319
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4104 - accuracy: 0.8322
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4097 - accuracy: 0.8338
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8332
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4089 - accuracy: 0.8329
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4082 - accuracy: 0.8339
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4078 - accuracy: 0.8339
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4075 - accuracy: 0.8335
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4070 - accuracy: 0.8344
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4068 - accuracy: 0.8355
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4066 - accuracy: 0.8341
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4062 - accuracy: 0.8341
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4056 - accuracy: 0.8349
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4056 - accuracy: 0.8342
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4052 - accuracy: 0.8350
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4050 - accuracy: 0.8347
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4049 - accuracy: 0.8350
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4048 - accuracy: 0.8355
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4044 - accuracy: 0.8345
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4042 - accuracy: 0.8341
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4042 - accuracy: 0.8332
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4040 - accuracy: 0.8346
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4036 - accuracy: 0.8354
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4040 - accuracy: 0.8349
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4035 - accuracy: 0.8350
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4034 - accuracy: 0.8342
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4034 - accuracy: 0.8350
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4033 - accuracy: 0.8346
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4032 - accuracy: 0.8349
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4030 - accuracy: 0.8355
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4031 - accuracy: 0.8340
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4026 - accuracy: 0.8350
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4026 - accuracy: 0.8350
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4028 - accuracy: 0.8357
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4024 - accuracy: 0.8347
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4026 - accuracy: 0.8355
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4026 - accuracy: 0.8347
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4025 - accuracy: 0.8347
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4024 - accuracy: 0.8351
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4024 - accuracy: 0.8350
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4017 - accuracy: 0.8349
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4021 - accuracy: 0.8350
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4020 - accuracy: 0.8349
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4019 - accuracy: 0.8353
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4023 - accuracy: 0.8344
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4019 - accuracy: 0.8340
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4022 - accuracy: 0.8350
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4018 - accuracy: 0.8351
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4016 - accuracy: 0.8353
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4018 - accuracy: 0.8351
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4017 - accuracy: 0.8345
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4014 - accuracy: 0.8350
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4014 - accuracy: 0.8345
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4015 - accuracy: 0.8341
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4012 - accuracy: 0.8350
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4011 - accuracy: 0.8346
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4014 - accuracy: 0.8354
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4016 - accuracy: 0.8356
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4016 - accuracy: 0.8347
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8344
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8360
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8363
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4013 - accuracy: 0.8334
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8355
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8346
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8356
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4014 - accuracy: 0.8341
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4012 - accuracy: 0.8345
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4009 - accuracy: 0.8345
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4011 - accuracy: 0.8350
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8347
Epoch 88/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4008 - accuracy: 0.8349
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8357
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8344
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8364
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8345
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4009 - accuracy: 0.8350
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4008 - accuracy: 0.8345
Epoch 95/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4008 - accuracy: 0.8344
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4006 - accuracy: 0.8341
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4005 - accuracy: 0.8349
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4004 - accuracy: 0.8341
Epoch 99/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4006 - accuracy: 0.8344
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8344

**Prediction & Evaluating the model**

**Predictions**

In [28]:
y_pred=ann.predict(X_test)
y_pred=(y_pred > 0.5)

63/63 [==============================] - 0s 3ms/step

**Evaluation**

In [29]:
from sklearn.metrics import confusion_matrix, accuracy_score

print("Test accuracy: ",accuracy_score(y_test,y_pred))
confusion_matrix(y_test,y_pred)

Test accuracy:  0.8405

array([[1548,   47],
       [ 272,  133]], dtype=int64)

**Cross validate the model**

In [30]:
def build_cross_classifier():
    classifier=Sequential()
    classifier.add(Dense(input_dim=11,unit=6,kernal_initializer='uniform',activation='relu'))
    classifier.add(Dense(unit=6,kernal_initializer='uniform',activation='relu'))
    classifier.add(Dense(unit=1,kernal_initializer='uniform',activation='sigmoid'))
    classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
    return classifier

In [32]:
pip install scikeras

Collecting scikeras
  Downloading scikeras-0.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: packaging>=0.21 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from scikeras) (21.3)
Requirement already satisfied: scikit-learn>=1.0.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from scikeras) (1.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from packaging>=0.21->scikeras) (3.0.4)
Requirement already satisfied: scipy>=1.1.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from scikit-learn>=1.0.0->scikeras) (1.7.3)
Requirement already satisfied: joblib>=0.11 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from scikit-learn>=1.0.0->scikeras) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from scikit-learn>=1.0.0->scikeras) (2.2.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\kirti raj pradhan\anaconda3\lib\site-packages (from scikit-learn>=1.0.0->scikeras) (1.21.5)
Installing collected packages: scikeras
Successfully installed scikeras-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [33]:
from scikeras.wrappers import KerasClassifier
classifier=KerasClassifier(build_cross_classifier,batch_size=32,epochs=100)

In [36]:
from sklearn.model_selection import cross_val_score

In [38]:
accuracies=cross_val_score(classifier,X,y,cv=5)
print(accuracies)
accuracies.mean()

[nan nan nan nan nan]

C:\Users\KIRTI RAJ PRADHAN\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
5 fits failed out of a total of 5.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\KIRTI RAJ PRADHAN\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\KIRTI RAJ PRADHAN\anaconda3\lib\site-packages\scikeras\wrappers.py", line 1494, in fit
    super().fit(X=X, y=y, sample_weight=sample_weight, **kwargs)
  File "C:\Users\KIRTI RAJ PRADHAN\anaconda3\lib\site-packages\scikeras\wrappers.py", line 762, in fit
    self._fit(
  File "C:\Users\KIRTI RAJ PRADHAN\anaconda3\lib\site-packages\scikeras\wrappers.py", line 918, in _fit
    X, y = self._initialize(X, y)
  File "C:\Users\KIRTI RAJ PRADHAN\anaconda3\lib\site-packages\scikeras\wrappers.py", line 855, in _initialize
    self.model_ = self._build_keras_model()
  File "C:\Users\KIRTI RAJ PRADHAN\anaconda3\lib\site-packages\scikeras\wrappers.py", line 431, in _build_keras_model
    model = final_build_fn(**build_params)
  File "C:\Users\KIRTI RAJ PRADHAN\AppData\Local\Temp\ipykernel_28148\1430105661.py", line 3, in build_cross_classifier
    classifier.add(Dense(input_dim=11,unit=6,kernal_initializer='uniform',activation='relu'))
  File "C:\Users\KIRTI RAJ PRADHAN\anaconda3\lib\site-packages\keras\dtensor\utils.py", line 96, in _wrap_function
    init_method(layer_instance, *args, **kwargs)
TypeError: __init__() missing 1 required positional argument: 'units'

  warnings.warn(some_fits_failed_message, FitFailedWarning)

nan